h1 {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #020E08;
    margin-top: 10px;
    margin-left: 7rem;
    margin-bottom: 0;
}

h3 {
    color: #020E08;
    opacity: 0.5;
    font-size: 15px;
    margin-left: 7rem;
    margin-top: 0;
}

#fnameLbl{
    margin-top: 2rem;
}

label {
    text-align: left;
    display: block;
    margin-top: 0.8rem;
    font-size: 13px;
    color: #020E08;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 7.2rem;
}

.input-field {
    width: 300px;
    padding-top: 10px;
    font-size: 15px;
    color: #020E08;
    background-color: white;
    border: none;
    border-bottom: 1px solid #868686;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 6.3rem;
}

.input-field::placeholder {
    font-size: 13px;
    opacity: 0.9;
}

.input-field:focus {
    border-bottom: 1px solid #2DA26B;
}

button {
    border: none;
    background-color: transparent;
    float: right;
    margin-right: -6rem;
    margin-top: -2.8rem;
}
svg:hover{
    fill: rgb(185, 4, 4);
}

.btnSignUp{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 7rem;
    border: none;
    background-color: #020E08;
    color: #E0F6EC;
    width: 95px;
    height: 35px;
    border-radius: 100px;
    transition: background-color 0.2s;
}

.btnSignUp:hover{
    background-color: #2DA26B;
}