<div class="col-8 loginBg">
    <div class="row col-12">
        <div class="row col-6">
            <img src="Bookshop-bro.png" alt="Bookshop-bro" class="loginImage">
        </div>
        <div class="verticalDivider col-1"></div>
        <div class="col-5 loginSection">
            <h1>MSK BOOKSHOP</h1>
            <button routerLink="/admin-login">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-x-circle-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
                </svg>
            </button>
            <h3>Reset account password</h3>

            <label for="email">Email</label>
            <input type="email" id="email" class="input-field" placeholder="Enter your email" [(ngModel)]="enteredEmail">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="green"
                    class="bi bi-check-circle-fill" viewBox="0 0 16 16" (click)="verifyEmail()">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
            </button>
            <label for="error" class="errorLbl" *ngIf="isEmailLblVisible">your email address was incorrect</label>

            <label for="otp" class="otp">OTP</label>
            <!-- otp.component.html -->
            <div class="otp-container">
                <div class="otp-input-group">
                    <input type="text" class="otp-input" maxlength="1" (input)="onOTPInput($event, 0)" [value]="otp[0]"
                        autofocus>
                    <input type="text" class="otp-input" maxlength="1" (input)="onOTPInput($event, 1)" [value]="otp[1]">
                    <input type="text" class="otp-input" maxlength="1" (input)="onOTPInput($event, 2)" [value]="otp[2]">
                    <input type="text" class="otp-input" maxlength="1" (input)="onOTPInput($event, 3)" [value]="otp[3]">
                    <input type="text" class="otp-input" maxlength="1" (input)="onOTPInput($event, 4)" [value]="otp[4]">
                    <input type="text" class="otp-input" maxlength="1" (input)="onOTPInput($event, 5)" [value]="otp[5]">
                </div>

                <div class="feedback-message" [ngClass]="{'correct': isOTPCorrect, 'incorrect': !isOTPCorrect}">
                    {{ feedbackMessage }}
                </div>
            </div>

            <label for="Password" class="password">Enter New Password</label>
            <input type="password" id="Password" class="input-field" placeholder="Enter your new password" [disabled]="!isEmailVerified" [(ngModel)]="newPassword">
            <button class="btnReset" (click)="resetPassword()">Reset</button>
        </div>
    </div>
</div>