<div class="row col-12 body">
    <div class="col-2">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="col-6">
        <h2>Items-Management</h2>
        <button class="books" style="margin-left: 2rem; width: 80px;">Books</button>
        <button class="Stationery" style="width: 120px;">Stationery</button>
        <button class="Magaznes-Newspapers" style="width: 240px;">Magazines & Newspapers</button>
        <button class="Educational-Supplies" style="width: 190px;">Educational Supplies</button>
        <div class="items-grid">
            <div class="card" *ngFor="let activeItems of activeItems">
                <div class="img-container">
                    <img [src]="activeItems.imagePath" class="card-img-top" alt="CR Book">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{activeItems.itemName}}</h5>
                    <p class="card-text">{{activeItems.itemDesc}}</p>
                    <p class="card-text price">RS.{{activeItems.price}}/=<span style="float: right;">Stock: {{activeItems.qty}}</span></p>
                    <div class="button-group">
                        <button class="btn-edit" style="margin-left: 0px;">Edit</button>
                        <button class="btn-delete" (click)="deleteItem(activeItems.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="add-item-section">
                <h2 class="add-item-title">Add New Item</h2>
                <form class="item-form">
                    <div class="image-upload-container">
                        <div class="image-preview" id="imagePreview">
                            <img id="previewImg" [src]="item.imagePath">
                        </div>
                        <label class="image-upload-label">
                            Choose Item Image
                            <input type="file" class="image-upload-input" id="imageUpload"
                                (change)="onSelectedFile($event)">
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="itemName">Item Name</label>
                        <input type="text" id="itemName" name="itemName" [(ngModel)]="item.itemName">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description" [(ngModel)]="item.itemDesc">
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" id="price" name="price" [(ngModel)]="item.price">
                        </div>

                        <div class="form-group">
                            <label for="stock">Quantity</label>
                            <input type="number" id="stock" name="stock" [(ngModel)]="item.qty">
                        </div>
                    </div>
                    <div>
                        <label for="category">Category</label>
                        <select class="form-select" aria-label="Default select example" name="category"
                            [(ngModel)]="item.category" (change)="onCategoryChange($event)">
                            <option value="Books">Books</option>
                            <option value="Stationery">Stationery</option>
                            <option value="Magazines & Newspapers">Magazines & Newspapers</option>
                            <option value="Educational Supplies">Educational Supplies</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div>
                            <label for="supplierName">Supplier Name</label>
                            <select class="form-select" aria-label="Default select example" name="supplierName"
                                style="height: 28px; font-size: 12px;" [(ngModel)]="item.supplierName" (change)="onSupplierSelect($event)" required>
                                <option *ngFor="let Supplier of matchSupplier" [value]="Supplier.fullName">{{Supplier.fullName}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="id">Supplier Id</label>
                            <input type="text" id="id" name="id" [(ngModel)]="item.supplierId" readonly>
                        </div>
                        <button type="submit" class="add-item-button" (click)="addItem()">Add Item</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>