<div class="row col-12 body">
    <div class="col-2">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="col-6">
        <h2>Items-Management</h2>
        <button class="books" style="margin-left: 2rem; width: 80px;">Books</button>
        <button class="Stationery" style="width: 120px;">Stationery</button>
        <button class="Magaznes-Newspapers" style="width: 240px;">Magaznes & Newspapers</button>
        <button class="Educational-Supplies" style="width: 190px;">Educational Supplies</button>
        <div class="items-grid">
            <div class="card">
                <div class="img-container">
                    <img src="assets/Items/image.png" class="card-img-top" alt="CR Book">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CR BOOK (80 pages)</h5>
                    <p class="card-text">80 pages singled rule cr book</p>
                    <div class="button-group">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Delete</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/Items/image.png" class="card-img-top" alt="CR Book">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CR BOOK (80 pages)</h5>
                    <p class="card-text">80 pages singled rule cr book</p>
                    <div class="button-group">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Delete</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/Items/image.png" class="card-img-top" alt="CR Book">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CR BOOK (80 pages)</h5>
                    <p class="card-text">80 pages singled rule cr book</p>
                    <div class="button-group">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Delete</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/Items/image.png" class="card-img-top" alt="CR Book">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CR BOOK (80 pages)</h5>
                    <p class="card-text">80 pages singled rule cr book</p>
                    <div class="button-group">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Delete</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/Items/image.png" class="card-img-top" alt="CR Book">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CR BOOK (80 pages)</h5>
                    <p class="card-text">80 pages singled rule cr book</p>
                    <div class="button-group">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Delete</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/Items/image.png" class="card-img-top" alt="CR Book">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CR BOOK (80 pages)</h5>
                    <p class="card-text">80 pages singled rule cr book</p>
                    <div class="button-group">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Delete</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/Items/image.png" class="card-img-top" alt="CR Book">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CR BOOK (80 pages)</h5>
                    <p class="card-text">80 pages singled rule cr book</p>
                    <div class="button-group">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Delete</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/Items/image.png" class="card-img-top" alt="CR Book">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CR BOOK (80 pages)</h5>
                    <p class="card-text">80 pages singled rule cr book</p>
                    <div class="button-group">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Delete</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/Items/image.png" class="card-img-top" alt="CR Book">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CR BOOK (80 pages)</h5>
                    <p class="card-text">80 pages singled rule cr book</p>
                    <div class="button-group">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>