.loginBg {
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.40);
    border-radius: 15px;

    .loginImage {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .verticalDivider {
        align-items: center;
        width: 2px;
        height: 500px;
        background-color: #2DA26B;
        margin: 0;
        padding: 0;
    }

    .loginSection {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}