<div class="row col-12 body">
    <div class="col-2">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="col-6">
        <div class="row">
            <!-- Active Emplyees Table -->
            <h3>Assigned Employees</h3>
            <div class="table-container">
                <div class="table-scroll">
                    <table class="employee-active-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Age</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Assigned Date</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let activeEmployees of activeEmployees">
                                <td class="id-cell">{{activeEmployees.id}}</td>
                                <td>{{activeEmployees.username}}</td>
                                <td>{{activeEmployees.fullName}}</td>
                                <td>{{activeEmployees.age}}</td>
                                <td>{{activeEmployees.address}}</td>
                                <td class="email-cell">{{activeEmployees.email}}</td>
                                <td>{{activeEmployees.phoneNumber}}</td>
                                <td>{{activeEmployees.assignedDate}}</td>
                                <td>{{activeEmployees.role}}</td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#d63031"
                                        class="bi bi-trash-fill" viewBox="0 0 16 16" (click)="remove(activeEmployees.id)">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                    </svg>
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#2e86de"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" (click)="updateEmployee(activeEmployees)">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                    </svg>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Removed Employees -->
            <h3 style="margin-top: 3rem;">Resigned Employees</h3>
            <div class="table-container">
                <div class="table-scroll">
                    <table class="employee-removed-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Age</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Resigned Date</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let removedEmployeess of removedEmployeess">
                                <td class="id-cell">{{removedEmployeess.id}}</td>
                                <td>{{removedEmployeess.username}}</td>
                                <td>{{removedEmployeess.fullName}}</td>
                                <td>{{removedEmployeess.age}}</td>
                                <td>{{removedEmployeess.address}}</td>
                                <td class="email-cell">{{removedEmployeess.email}}</td>
                                <td>{{removedEmployeess.phoneNumber}}</td>
                                <td>{{removedEmployeess.resignedDate}}</td>
                                <td>{{removedEmployeess.role}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="add-employee-section">
                <h2 class="add-employee-title">Add New Employee</h2>
                <form class="employee-form">
                    <div class="image-upload-container">
                        <div class="image-preview" id="imagePreview">
                            <img id="previewImg" [src]="employee.imagePath">
                        </div>
                        <label class="image-upload-label">
                            Choose Profile Image
                            <input type="file" class="image-upload-input" id="imageUpload" (change)="onSelectedFile($event)">
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" [(ngModel)]="employee.username">
                    </div>

                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" id="fullName" name="fullName" [(ngModel)]="employee.fullName">
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" id="age" name="age" [(ngModel)]="employee.age">
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="tel" id="phone" name="phone" [(ngModel)]="employee.phoneNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" [(ngModel)]="employee.email">
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" id="address" name="address" [(ngModel)]="employee.address">
                        </div>

                        <div>
                            <label for="Role">Role</label>
                            <select class="form-select" aria-label="Default select example" name="role"
                                [(ngModel)]="employee.role">
                                <option value="Traning">Traning</option>
                                <option value="Cleaning">Cleaning</option>
                            </select>
                        </div>
                        <button type="submit" class="add-employee-button" (click)="signUp()">Add Employee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="employee-update-form">
                    <div class="image-upload-container">
                        <div class="image-preview" id="imagePreview">
                            <img id="previewImg" [src]="activeEmployeessTemp.imagePath">
                        </div>
                        <label class="image-upload-label">
                            Choose Profile Image
                            <input type="file" class="image-upload-input" id="imageUpload" (change)="onUpdateSelectedFile($event)">
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" [(ngModel)]="activeEmployeessTemp.username">
                    </div>

                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" id="fullName" name="fullName" [(ngModel)]="activeEmployeessTemp.fullName">
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" id="age" name="age" [(ngModel)]="activeEmployeessTemp.age">
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="tel" id="phone" name="phone" [(ngModel)]="activeEmployeessTemp.phoneNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" [(ngModel)]="activeEmployeessTemp.email">
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" id="address" name="address" [(ngModel)]="activeEmployeessTemp.address">
                        </div>

                        <div>
                            <label for="Role">Role</label>
                            <select class="form-select" aria-label="Default select example" name="role"
                                [(ngModel)]="activeEmployeessTemp.role">
                                <option value="Traning">Traning</option>
                                <option value="Cleaning">Cleaning</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateEmployeeDetails()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>