.loginBg {
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.40);
    border-radius: 15px;

    .loginImage {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .verticalDivider {
        align-items: center;
        width: 2px;
        height: 500px;
        background-color: #2DA26B;
        margin: 0;
        padding: 0;
    }

    .loginSection {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}
h1 {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #020E08;
    margin-top: 10px;
    margin-left: 7rem;
}

h3 {
    color: #020E08;
    opacity: 0.5;
    font-size: 15px;
    margin-top: 2.5rem;
    margin-left: 7rem;
}

label {
    text-align: left;
    display: block;
    margin-top: 3rem;
    font-size: 13px;
    color: #020E08;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 7.2rem;
}

.input-field {
    width: 275px;
    padding-top: 10px;
    font-size: 15px;
    color: #020E08;
    background-color: white;
    border: none;
    border-bottom: 1px solid #868686;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 7rem;
}

.input-field::placeholder {
    font-size: 13px;
    opacity: 0.9;
}

.input-field:focus {
    border-bottom: 1px solid #1e90ff;
}
.errorLbl{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 9px;
    color: red;
}
button{
    border: none;
    background-color: transparent;
    margin-left: 7px;
}

svg:hover{
    fill: rgb(0, 74, 0);
}

.password {
    margin-top: 7px;
    padding-top: 10px;
}

#Password{
    margin-left: 4.8rem;
}

.otp {
    margin-top: 0;
    padding-top: 15px;
}

.bi-x-circle-fill{
    fill: red;
    border: none;
    background-color: transparent;
    float: right;
    margin-right: -18.5rem;
    margin-top: -3.8rem;
}

.bi-x-circle-fill:hover{
    fill: rgb(185, 4, 4);
}

.btnReset{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13rem;
    border: none;
    background-color: #020806;
    color: #F2FFF9;
    width: 95px;
    height: 35px;
    border-radius: 100px;
    transition: background-color 0.2s;
}

.btnReset:hover{
    background-color: #2DA26B;
}
/* otp.component.scss */
.otp-container {
    display: flex;
    flex-direction: column;
    height: 35px;
    margin-top: 8px;
    margin-left: 7.25rem;
    text-align: left
  }
  
  .otp-input-group {
    display: flex;
    gap: 8px;
    margin-bottom: 5px;
  }
  
  .otp-input {
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  
    &:focus {
      border-color: #2DA26B;
      box-shadow: 0 0 5px rgba(0, 255, 89, 0.5);
    }
  }
  
  .feedback-message {
    font-size: 9px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  
    &.correct {
      color: #2DA26B;
    }
  
    &.incorrect {
      color: #ff041d;
    }
  }